In [2]:
import pandas as pd

In [3]:
# Load all 25 EPL datasets
datasets = {}
for i in range(25):
    year_start = str(i).zfill(2)
    year_end = str(i + 1).zfill(2)
    filename = f'../data/epl/EPL_{year_start}{year_end}.csv'
    df_name = f'df_{year_start}{year_end}'
    try:
        datasets[df_name] = pd.read_csv(filename, on_bad_lines='skip', engine='python')
        globals()[df_name] = datasets[df_name]
    except Exception as e:
        print(f"Error loading {filename}: {e}")

Error loading ../data/epl/EPL_0405.csv: 'utf-8' codec can't decode byte 0xa0 in position 1886: invalid start byte

In [ ]:
# Select only required columns
required_columns = ['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HS', 'AS', 'HST', 'AST', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR']

for df_name in datasets:
    datasets[df_name] = datasets[df_name][required_columns]
    globals()[df_name] = datasets[df_name]

# Verify columns
print(df_0506.columns.tolist())# Select only required columns
required_columns = ['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HS', 'AS', 'HST', 'AST', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR']

for df_name in datasets:
    datasets[df_name] = datasets[df_name][required_columns]
    globals()[df_name] = datasets[df_name]

['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HS', 'AS', 'HST', 'AST', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR']
['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HS', 'AS', 'HST', 'AST', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR']
(380, 17)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,HC,AC,HY,AY,HR,AR
0,E0,13/08/05,Aston Villa,Bolton,2,2,D,3,13,2,6,7,8,0,2,0,0
1,E0,13/08/05,Everton,Man United,0,2,A,10,12,5,5,8,6,3,1,0,0
2,E0,13/08/05,Fulham,Birmingham,0,0,D,15,7,7,4,6,6,1,2,0,0
3,E0,13/08/05,Man City,West Brom,0,0,D,15,13,8,3,3,6,2,3,0,0
4,E0,13/08/05,Middlesbrough,Liverpool,0,0,D,4,16,2,7,5,0,2,3,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,07/05/06,Fulham,Middlesbrough,1,0,H,8,6,3,3,8,4,0,1,0,0
376,E0,07/05/06,Man United,Charlton,4,0,H,20,8,11,3,8,2,1,0,0,0
377,E0,07/05/06,Newcastle,Chelsea,1,0,H,16,10,8,5,3,7,4,2,1,0
378,E0,07/05/06,Portsmouth,Liverpool,1,3,A,6,8,4,4,5,6,1,0,0,0
379,E0,07/05/06,West Ham,Tottenham,2,1,H,12,14,7,6,11,4,1,0,0,0

In [9]:
# Concatenate all datasets into a single dataframe
df_combined = pd.concat(datasets.values(), ignore_index=True)

print(f"Combined dataset shape: {df_combined.shape}")
df_combined

Combined dataset shape: (9076, 17)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,HC,AC,HY,AY,HR,AR
0,E0,19/08/00,Charlton,Man City,4.0,0.0,H,17.0,8.0,14.0,4.0,6.0,6.0,1.0,2.0,0.0,0.0
1,E0,19/08/00,Chelsea,West Ham,4.0,2.0,H,17.0,12.0,10.0,5.0,7.0,7.0,1.0,2.0,0.0,0.0
2,E0,19/08/00,Coventry,Middlesbrough,1.0,3.0,A,6.0,16.0,3.0,9.0,8.0,4.0,5.0,3.0,1.0,0.0
3,E0,19/08/00,Derby,Southampton,2.0,2.0,D,6.0,13.0,4.0,6.0,5.0,8.0,1.0,1.0,0.0,0.0
4,E0,19/08/00,Leeds,Everton,2.0,0.0,H,17.0,12.0,8.0,6.0,6.0,4.0,1.0,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9071,E0,25/05/2025,Newcastle,Everton,0.0,1.0,A,17.0,14.0,6.0,6.0,12.0,3.0,1.0,4.0,0.0,0.0
9072,E0,25/05/2025,Nott'm Forest,Chelsea,0.0,1.0,A,10.0,6.0,2.0,2.0,7.0,4.0,2.0,2.0,0.0,0.0
9073,E0,25/05/2025,Southampton,Arsenal,1.0,2.0,A,7.0,23.0,2.0,8.0,5.0,8.0,0.0,0.0,0.0,0.0
9074,E0,25/05/2025,Tottenham,Brighton,1.0,4.0,A,4.0,23.0,2.0,8.0,2.0,11.0,3.0,1.0,0.0,0.0
9075,E0,25/05/2025,Wolves,Brentford,1.0,1.0,D,18.0,13.0,6.0,7.0,8.0,3.0,2.0,1.0,0.0,0.0

In [ ]:
# Display rows with null values
df_cleaned = df_combined.dropna()
df_cleaned

      Div Date HomeTeam AwayTeam  FTHG  FTAG  FTR  HS  AS  HST  AST  HC  AC  \
5275  NaN  NaN      NaN      NaN   NaN   NaN  NaN NaN NaN  NaN  NaN NaN NaN

      HY  AY  HR  AR
5275 NaN NaN NaN NaN