In [ ]:
import pandas as pd

In [28]:
# Load all 25 EPL datasets
datasets = {}
for i in range(25):
    year_start = str(i).zfill(2)
    year_end = str(i + 1).zfill(2)
    filename = f'../data/epl/EPL_{year_start}{year_end}.csv'
    df_name = f'df_{year_start}{year_end}'
    try:
        datasets[df_name] = pd.read_csv(filename, on_bad_lines='skip', engine='python')
        globals()[df_name] = datasets[df_name]
    except Exception as e:
        print(f"Error loading {filename}: {e}")

Error loading ../data/epl/EPL_0405.csv: 'utf-8' codec can't decode byte 0xa0 in position 1886: invalid start byte

In [29]:
# Select only required columns
required_columns = ['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HS', 'AS', 'HST', 'AST', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR']

for df_name in datasets:
    datasets[df_name] = datasets[df_name][required_columns]
    globals()[df_name] = datasets[df_name]

# Verify columns
print(df_0506.columns.tolist()) # Select only required columns
required_columns = ['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HS', 'AS', 'HST', 'AST', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR']

for df_name in datasets:
    datasets[df_name] = datasets[df_name][required_columns]
    globals()[df_name] = datasets[df_name]

['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HS', 'AS', 'HST', 'AST', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR']

In [39]:
liverpool_matches = df_1920[(df_1920['HomeTeam'] == 'Liverpool') | (df_1920['AwayTeam'] == 'Liverpool')]
print(liverpool_matches)

           Date          HomeTeam          AwayTeam  FTHG  FTAG FTR  HS  AS  \
0    09/08/2019         Liverpool           Norwich     4     1   H  15  12
15   17/08/2019       Southampton         Liverpool     1     2   A  14  15
26   24/08/2019         Liverpool           Arsenal     3     1   H  25   9
37   31/08/2019           Burnley         Liverpool     0     3   A   7  15
40   14/09/2019         Liverpool         Newcastle     3     1   H  21   8
59   22/09/2019           Chelsea         Liverpool     1     2   A  13   6
60   28/09/2019  Sheffield United         Liverpool     0     1   A  12  16
72   05/10/2019         Liverpool         Leicester     2     1   H  18   2
88   20/10/2019        Man United         Liverpool     1     1   D   7  10
98   27/10/2019         Liverpool         Tottenham     2     1   H  21  11
102  02/11/2019       Aston Villa         Liverpool     1     2   A   5  25
119  10/11/2019         Liverpool          Man City     3     1   H  12  18
124  23/11/2019    Crystal Palace         Liverpool     1     2   A  16  12
133  30/11/2019         Liverpool          Brighton     2     1   H  15  12
147  04/12/2019         Liverpool           Everton     5     2   H  11  12
151  07/12/2019       Bournemouth         Liverpool     0     3   A   3  21
160  14/12/2019         Liverpool           Watford     2     0   H  16   8
187  26/12/2019         Leicester         Liverpool     0     4   A   3  15
197  29/12/2019         Liverpool            Wolves     1     0   H  10  10
208  02/01/2020         Liverpool  Sheffield United     2     0   H  19   3
216  11/01/2020         Tottenham         Liverpool     0     1   A  14  13
228  19/01/2020         Liverpool        Man United     2     0   H  16   9
238  23/01/2020            Wolves         Liverpool     1     2   A  10  13
239  29/01/2020          West Ham         Liverpool     0     2   A   7  13
243  01/02/2020         Liverpool       Southampton     4     0   H  16  17
255  15/02/2020           Norwich         Liverpool     0     1   A   5  17
269  24/02/2020         Liverpool          West Ham     3     2   H  25   7
275  29/02/2020           Watford         Liverpool     3     0   H  14   7
278  07/03/2020         Liverpool       Bournemouth     2     1   H  14   6
298  21/06/2020           Everton         Liverpool     0     0   D   9  10
306  24/06/2020         Liverpool    Crystal Palace     4     0   H  21   3
319  02/07/2020          Man City         Liverpool     4     0   H  14  11
327  05/07/2020         Liverpool       Aston Villa     2     0   H   6   9
336  08/07/2020          Brighton         Liverpool     1     3   A  12  19
342  11/07/2020         Liverpool           Burnley     1     1   D  23   6
354  15/07/2020           Arsenal         Liverpool     2     1   H   3  24
369  22/07/2020         Liverpool           Chelsea     5     3   H  10  10
377  26/07/2020         Newcastle         Liverpool     1     3   A   3  14

     HST  AST  HC  AC  HY  AY  HR  AR
0      7    5  11   2   0   2   0   0
15     3    6   5   9   2   1   0   0
26     5    3   6   4   1   1   0   0
37     2    7   6   4   0   0   0   0
40     9    1  10   1   0   0   0   0
59     2    3   6   4   3   3   0   0
60     2    4   6   5   1   1   0   0
72     8    1   4   6   1   4   0   0
88     2    4   3   1   0   1   0   0
98    13    4   8   3   3   3   0   0
102    2    6   2  10   1   2   0   0
119    5    3   4  13   0   2   0   0
124    6    4   9   8   0   1   0   0
133    7    5   4   5   0   0   1   0
147    5    4   5   6   1   2   0   0
151    0    9   1   3   0   1   0   0
160    6    2   6   3   2   1   0   0
187    0    6   2   8   1   1   0   0
197    3    2   5   6   1   0   0   0
208    7    2   8   4   0   0   0   0
216    4    7   4   3   0   2   0   0
228    5    4  11   5   1   3   0   0
238    3    6   2   4   0   1   0   0
239    4    5   3   7   2   0   0   0
243    9    4   6  11   0   2   0   0
255    1    6   2   7   1   2   0   0
269    7    4  16   8   0   3   0   0
275    5    1   3   5   0   0   0   0
278    6    4   9   4   0   1   0   0
298    3    3   1   6   2   2   0   0
306    7    0   6   0   0   0   0   0
319    6    3   3   3   2   2   0   0
327    4    3   7   5   1   1   0   0
336    2    8   6  10   1   4   0   0
342    9    2  12   6   1   2   0   0
354    2    8   2  13   3   1   0   0
369    7    5   6   0   1   0   0   0
377    2    6   2   4   1   0   0   0

In [30]:
# Concatenate all datasets into a single dataframe
df_combined = pd.concat(datasets.values(), ignore_index=True)

print(f"Combined dataset shape: {df_combined.shape}")
df_combined

Combined dataset shape: (9076, 16)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,HC,AC,HY,AY,HR,AR
0,19/08/00,Charlton,Man City,4.0,0.0,H,17.0,8.0,14.0,4.0,6.0,6.0,1.0,2.0,0.0,0.0
1,19/08/00,Chelsea,West Ham,4.0,2.0,H,17.0,12.0,10.0,5.0,7.0,7.0,1.0,2.0,0.0,0.0
2,19/08/00,Coventry,Middlesbrough,1.0,3.0,A,6.0,16.0,3.0,9.0,8.0,4.0,5.0,3.0,1.0,0.0
3,19/08/00,Derby,Southampton,2.0,2.0,D,6.0,13.0,4.0,6.0,5.0,8.0,1.0,1.0,0.0,0.0
4,19/08/00,Leeds,Everton,2.0,0.0,H,17.0,12.0,8.0,6.0,6.0,4.0,1.0,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9071,25/05/2025,Newcastle,Everton,0.0,1.0,A,17.0,14.0,6.0,6.0,12.0,3.0,1.0,4.0,0.0,0.0
9072,25/05/2025,Nott'm Forest,Chelsea,0.0,1.0,A,10.0,6.0,2.0,2.0,7.0,4.0,2.0,2.0,0.0,0.0
9073,25/05/2025,Southampton,Arsenal,1.0,2.0,A,7.0,23.0,2.0,8.0,5.0,8.0,0.0,0.0,0.0,0.0
9074,25/05/2025,Tottenham,Brighton,1.0,4.0,A,4.0,23.0,2.0,8.0,2.0,11.0,3.0,1.0,0.0,0.0
9075,25/05/2025,Wolves,Brentford,1.0,1.0,D,18.0,13.0,6.0,7.0,8.0,3.0,2.0,1.0,0.0,0.0

In [31]:
# remove rows with null values
df_cleaned = df_combined.dropna()
df_cleaned

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,HC,AC,HY,AY,HR,AR
0,19/08/00,Charlton,Man City,4.0,0.0,H,17.0,8.0,14.0,4.0,6.0,6.0,1.0,2.0,0.0,0.0
1,19/08/00,Chelsea,West Ham,4.0,2.0,H,17.0,12.0,10.0,5.0,7.0,7.0,1.0,2.0,0.0,0.0
2,19/08/00,Coventry,Middlesbrough,1.0,3.0,A,6.0,16.0,3.0,9.0,8.0,4.0,5.0,3.0,1.0,0.0
3,19/08/00,Derby,Southampton,2.0,2.0,D,6.0,13.0,4.0,6.0,5.0,8.0,1.0,1.0,0.0,0.0
4,19/08/00,Leeds,Everton,2.0,0.0,H,17.0,12.0,8.0,6.0,6.0,4.0,1.0,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9071,25/05/2025,Newcastle,Everton,0.0,1.0,A,17.0,14.0,6.0,6.0,12.0,3.0,1.0,4.0,0.0,0.0
9072,25/05/2025,Nott'm Forest,Chelsea,0.0,1.0,A,10.0,6.0,2.0,2.0,7.0,4.0,2.0,2.0,0.0,0.0
9073,25/05/2025,Southampton,Arsenal,1.0,2.0,A,7.0,23.0,2.0,8.0,5.0,8.0,0.0,0.0,0.0,0.0
9074,25/05/2025,Tottenham,Brighton,1.0,4.0,A,4.0,23.0,2.0,8.0,2.0,11.0,3.0,1.0,0.0,0.0
9075,25/05/2025,Wolves,Brentford,1.0,1.0,D,18.0,13.0,6.0,7.0,8.0,3.0,2.0,1.0,0.0,0.0

In [32]:
change_row_names = ['date', 'home_team', 'away_team', 'full_time_home_goals', 'full_time_away_goals', 
                    'full_time_result', 'home_shots', 'away_shots', 'home_shots_on_target', 'away_shots_on_target',
                    'home_corners', 'away_corners', 'home_yellow_cards', 'away_yellow_cards', 'home_red_cards',
                    'away_red_cards']
df_cleaned.columns = change_row_names
df_cleaned

,date,home_team,away_team,full_time_home_goals,full_time_away_goals,full_time_result,home_shots,away_shots,home_shots_on_target,away_shots_on_target,home_corners,away_corners,home_yellow_cards,away_yellow_cards,home_red_cards,away_red_cards
0,19/08/00,Charlton,Man City,4.0,0.0,H,17.0,8.0,14.0,4.0,6.0,6.0,1.0,2.0,0.0,0.0
1,19/08/00,Chelsea,West Ham,4.0,2.0,H,17.0,12.0,10.0,5.0,7.0,7.0,1.0,2.0,0.0,0.0
2,19/08/00,Coventry,Middlesbrough,1.0,3.0,A,6.0,16.0,3.0,9.0,8.0,4.0,5.0,3.0,1.0,0.0
3,19/08/00,Derby,Southampton,2.0,2.0,D,6.0,13.0,4.0,6.0,5.0,8.0,1.0,1.0,0.0,0.0
4,19/08/00,Leeds,Everton,2.0,0.0,H,17.0,12.0,8.0,6.0,6.0,4.0,1.0,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9071,25/05/2025,Newcastle,Everton,0.0,1.0,A,17.0,14.0,6.0,6.0,12.0,3.0,1.0,4.0,0.0,0.0
9072,25/05/2025,Nott'm Forest,Chelsea,0.0,1.0,A,10.0,6.0,2.0,2.0,7.0,4.0,2.0,2.0,0.0,0.0
9073,25/05/2025,Southampton,Arsenal,1.0,2.0,A,7.0,23.0,2.0,8.0,5.0,8.0,0.0,0.0,0.0,0.0
9074,25/05/2025,Tottenham,Brighton,1.0,4.0,A,4.0,23.0,2.0,8.0,2.0,11.0,3.0,1.0,0.0,0.0
9075,25/05/2025,Wolves,Brentford,1.0,1.0,D,18.0,13.0,6.0,7.0,8.0,3.0,2.0,1.0,0.0,0.0

In [34]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9075 entries, 0 to 9075
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  9075 non-null   object
 1   home_team             9075 non-null   object
 2   away_team             9075 non-null   object
 3   full_time_home_goals  9075 non-null   float64
 4   full_time_away_goals  9075 non-null   float64
 5   full_time_result      9075 non-null   object
 6   home_shots            9075 non-null   float64
 7   away_shots            9075 non-null   float64
 8   home_shots_on_target  9075 non-null   float64
 9   away_shots_on_target  9075 non-null   float64
 10  home_corners          9075 non-null   float64
 11  away_corners          9075 non-null   float64
 12  home_yellow_cards     9075 non-null   float64
 13  away_yellow_cards     9075 non-null   float64
 14  home_red_cards        9075 non-null   float64
 15  away_red_cards        9075 non-null   float64
dtypes: float64(12), object(4)
memory usage: 1.2+ MB